<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AOPTransactionIntactDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AOPTransactionLiteDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>58EBFEC11CED5E2C00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58EBFEDA1CED5E2D00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58EBFEE51CED5E2D00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58EBFEFB1CED5E5D00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58EBFF131CED5E5E00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58EBFF1E1CED5E5E00E6490C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
